/* Global Resetting */
a img {
    border: 0;
}

*:focus {
    outline: 0;
}

.clear {
    clear: both;
}

html, body {
    margin: 0;
    padding: 0;
}

/* Layout CSS */
body {
    background: url(./../images/background.png) repeat-x;
}

#Header {
    position: relative;
    
    height: 64px;
}

#Logo {
    background: url(./../images/logo.png) no-repeat;
    
    width: 252px;
    height: 22px;
    
    padding-top: 42px;
    
    font-size: 10px;
    
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    
    cursor: default;
}

#Main {
    margin: 0 auto;
    width: 1003px;
}

#Footer {
    border-top: 1px solid #C3C3C3;
    
    padding-top: 24px;
}

#Footer p {
    width: 1003px;
    
    margin: 0 auto;
}